*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body{
  padding: 20px;
  background-image: url('https://files.gitter.im/Angham116/XFoM/download.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}