.current{
  display: flex;
  justify-content: space-evenly;
}
.photo{
  border-radius: 50%;
  background: rgba(198, 200, 212, 0.89);
  width: 100px;
  height: 100px;
}
.div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.date{
  color: white;
  font-size: 25px;
}
.desc{
  color: white;
  margin-top: 5px;
  font-size: 25px;
}